@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: #ececec;
  --lightBlue: #daeaff;
  --blue: #1977f2;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.active, /* More specific selector for NavLink */
.NavLink.active {  /* Using class name and element type */
  background-color: lightBlue;
  /* Other styles for the active state */
}


